/*
* Custom css
*/
.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
  }
  
  
  
  .btn-light {
    background-color: #fff;
    border-color: #e4e4e4;
  }
  
  .list-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  .list-menu a {
    color: #343a40;
  }
  
  .card-product-grid .info-wrap {
    overflow: hidden;
    padding: 18px 20px;
  }
  
  [class*='card-product'] a.title {
    color: #212529;
    display: block;
  }
  
  .card-product-grid:hover .btn-overlay {
    opacity: 1;
  }
  .card-product-grid .btn-overlay {
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
  }
  .img-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .text-small{
    font-size: smaller;
  }
  
  .text-xx-small {
    font-size: xx-small;
  }
  
  /* Change the checkbox background color */
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2aca42; /* Change to your desired color */
  }
  
  /* Change the tick (checkmark) color */
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    color: #ec0000; /* Change to your desired color */
  }
  
  #categories {
    height: 15em;
    overflow-y:auto;
    border: 1px solid #ccc;
    scrollbar-width: thin;
  }
  
  /* Vendor-specific scrollbar styles for Webkit (Chrome, Safari) */
  #categories::-webkit-scrollbar {
  width: 6px; /* Adjust the width as desired */
  }
  
  #categories::-webkit-scrollbar-thumb {
  background-color: #8a8c8d; /* Color of the thumb (scrollbar handle) */
  }
  
  #categories::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
  }


  /** for 404 page */
.error-container {
  text-align: center;
  margin-top: 100px;
}

.error-heading {
  font-size: 3rem;
  color: #343a40;
}

.error-message {
  font-size: 1rem;
  color: #6c757d;
  margin-top: 20px;
}

.home-button {
  margin-top: 20px;
}

.img--resp {
  height: 200px; /* Set the desired height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}